# Import pandas and NumPy libraries.

In [3]:
import pandas as pd
import numpy as np

# Read the tweet_engagements.csv file as pandas DataFrame.

In [4]:
tweets = pd.read_csv("tweet_engagements.csv")

# Explore the dataset using pandas functions.

In [5]:
tweets.head()

        Date  Impression  Engagement
0  1.11.2020         506         106
1  2.11.2020         331          50
2  3.11.2020         377          86
3  4.11.2020         333         108
4  5.11.2020         558          31

In [6]:
tweets.tail()

           Date  Impression  Engagement
117  26.04.2021         319          26
118  27.04.2021         397         119
119  28.04.2021         531         124
120  29.04.2021         150          28
121  30.04.2021         253          40

In [7]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        122 non-null    object
 1   Impression  122 non-null    int64
 2   Engagement  122 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.0+ KB

In [8]:
tweets.describe()

       Impression  Engagement
count  122.000000  122.000000
mean   358.049180   53.860656
std    147.129552   37.894659
min    111.000000    7.000000
25%    228.000000   25.250000
50%    360.000000   44.000000
75%    478.750000   72.000000
max    619.000000  187.000000

In [11]:
tweets[tweets.duplicated() == True]

Empty DataFrame
Columns: [Date, Impression, Engagement]
Index: []

In [19]:
for cn,c in tweets.iteritems():
    display(c.value_counts().nlargest(n = 5))

1.11.2020     1
31.03.2021    1
29.03.2021    1
28.03.2021    1
27.03.2021    1
Name: Date, dtype: int64

360    3
112    2
196    2
582    2
124    2
Name: Impression, dtype: int64

36    4
45    4
50    3
21    3
86    3
Name: Engagement, dtype: int64

In [20]:
for cn,c in tweets.iteritems():
    display(c.value_counts().nsmallest(n = 6))

1.11.2020     1
31.03.2021    1
29.03.2021    1
28.03.2021    1
27.03.2021    1
26.03.2021    1
Name: Date, dtype: int64

416    1
571    1
280    1
147    1
252    1
158    1
Name: Impression, dtype: int64

75     1
117    1
180    1
103    1
51     1
102    1
Name: Engagement, dtype: int64

In [21]:
tweets.nunique()

Date          122
Impression    111
Engagement     76
dtype: int64

In [23]:
for cn,c in tweets.iteritems():
    display(c.value_counts(normalize = True) * 100)

1.11.2020     0.819672
31.03.2021    0.819672
29.03.2021    0.819672
28.03.2021    0.819672
27.03.2021    0.819672
                ...
7.12.2020     0.819672
6.12.2020     0.819672
5.12.2020     0.819672
4.12.2020     0.819672
30.04.2021    0.819672
Name: Date, Length: 122, dtype: float64

360    2.459016
112    1.639344
196    1.639344
582    1.639344
124    1.639344
         ...
552    0.819672
227    0.819672
297    0.819672
465    0.819672
253    0.819672
Name: Impression, Length: 111, dtype: float64

36     3.278689
45     3.278689
50     2.459016
21     2.459016
86     2.459016
         ...
112    0.819672
157    0.819672
42     0.819672
27     0.819672
124    0.819672
Name: Engagement, Length: 76, dtype: float64

In [31]:
from datetime import datetime

def day_of_week(date):
    return date.strftime("%A")

In [46]:
tweets["Date"] = pd.to_datetime(tweets["Date"])

In [49]:
tweets['week_of_year'] = tweets['Date'].dt.isocalendar().week 
tweets['day_of_week'] = tweets['Date'].dt.dayofweek
tweets['is_leap_year'] = tweets['Date'].dt.is_leap_year

In [62]:
tweets.head()

        Date  Impression  Engagement  week_of_year  day_of_week  is_leap_year
0 2020-01-11         506         106             2            5          True
1 2020-02-11         331          50             7            1          True
2 2020-03-11         377          86            11            2          True
3 2020-04-11         333         108            15            5          True
4 2020-05-11         558          31            20            0          True